.advants {
  min-height: 473px;
  padding: 70px 0 65px 0;
  background-color: #F6F6F6;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }

  &__items {
    max-width: 964px;


  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;

    &_animated {
      animation: heartbeat 1.5s ease infinite;
      // animation-name: heartbeat;
      // animation-duration: 1.5s;
      // animation-timing-function: ease;
      // animation-iteration-count: infinite;
    }
  }

  &__subheader {
    color: #0D0D0D;
    text-align: center;
    font-size: 18px;
    font-weight: 700;

  }

  &__descr {
    max-width: 277px;
    color: #0D0D0D;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;

    a {
      color: #F00;
      font-size: 14px;
      font-weight: 300;
      text-decoration-line: underline;
    }

  }



}