@media (max-width: 575px) {
  *:hover {

    box-shadow: none;
  }

  .promo {
    min-height: 400px;
    padding: 36px 0;
    background: url('../img/bg/mobile_bg.jpg') center center / cover no-repeat;

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__header {
      font-size: 24px;
    }

    &__subheader {
      margin-top: 5px;
      font-size: 14px;
    }

    &__icons {
      width: 100%;
    }

    &__icon {
      font-size: 12px;
    }


  }

  .header {
    display: flex;
    flex-direction: column;

    &__logo {
      margin-bottom: 12px;
    }


    &__contacts {
      margin-top: 12px;
    }

    &__button {
      margin-top: 12px;
    }



  }

  .button {
    &_main {
      width: 260px;
    }

    &_submit {
      width: 235px;
      height: 45px;
      font-size: 15px;
    }
  }

  .advants {
    min-height: 400px;
    padding: 35px 0;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &__img {
      margin-bottom: 7px;
    }

    &__descr {
      margin-top: 3px;
    }

    &__item {
      margin-bottom: 18px;

      &_nmb {
        margin-bottom: 0px;
      }

    }
  }

  .consultation {
    min-height: 400px;
    padding: 33px 13px 33px 13px;
    background: url('../img/bg/bg_mobile_2.jpg') center center / cover no-repeat;

    &__descr {
      font-size: 15px;
      text-align: center;
    }
  }

  .title {
    &_left {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }
  }

  .feed-form {
    display: flex;
    align-items: center;
    width: 100%;

    input {
      height: 40px;
    }
  }

  .carousel {
    &__inner {
      max-width: 100%;

      img {
        max-width: 67%;
      }

    }

    .slick-list {
      overflow: hidden;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    .slick-dots li {
      list-style-type: none;
      margin: 0 5px;
    }

    /* Активна точка */
    .slick-dots li.slick-active button {
      background-color: $main-color;
    }

    /* Елемент точки */
    .slick-dots li button {
      font-size: 0;
      width: 20px;
      height: 5px;
      background-color: #000;
      border: none;
      border-radius: 5px;

    }
  }

  .catalog {
    .title {
      font-size: 27px;
    }

    &__tab {
      width: 100%;
      transform: none;
      line-height: 0px;
      font-size: 12px;
      height: 40px;
      line-height: 14px;

      &__pd {
        padding-top: 11px;
      }

      &__pd-last {
        padding-top: 5px;
      }

      div {
        transform: none;
        display: block;
        text-align: center;
      }

    }

    &__content {
      position: relative;
      justify-content: center;
      padding-left: 16px;
    }

    &-item {
      width: 245px;

      &__price {
        font-size: 18px;
      }

      &__descr {
        font-size: 11px;
      }

      hr {
        position: absolute;
        top: auto;
        top: 109%;
        right: 28px;
        width: 74%;
      }

      &__footer {
        margin-top: 64px;
      }

      &__footer_mt {
        margin-top: 64px;
      }

      &__back {
        bottom: -16px;
        font-size: 13px;
      }

      &__img {
        height: 170px;
      }


      li {
        font-size: 12px;
      }
    }



    .button {
      &_mini {
        width: 100px;
        height: 40px;
      }
    }
  }

  .feed {
    min-height: 400px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
    }

    &__text {
      width: 100%;
      padding-left: 72px;
      padding-right: 0px;
      margin-left: 0;
      ;
    }

    &__descr {
      width: 80%;
    }

    &__subtitle {
      margin-top: 15px;
    }

    &__title {
      font-size: 27px;
    }

    &__img {
      width: 135px;
      height: 135px;
    }
  }

  .footer {
    min-height: 400px;

    &__info {
      width: 100%;
      height: 136px;
      padding: 8px 8px 8px 8px;
    }

    &__addr {
      font-size: 15px;
      line-height: 15px;
    }

    &__phone {
      margin-top: 16px;
      font-size: 17px;
      line-height: 17px;
    }

    &__social-item {
      width: 35px;
      height: 35px;

      img {
        height: 20px;
      }
    }

    &__social {
      margin-top: 27px;
    }
  }


}

@media (max-width: 767px) {

  .promo {
    min-height: 600px;
    padding: 36px 0;
    background: url('../img/bg/mobile_bg.jpg') center center / cover no-repeat;

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__header {
      font-size: 24px;
    }

    &__subheader {
      margin-top: 5px;
      font-size: 14px;
    }

    &__icons {
      width: 100%;
    }

    &__icon {
      font-size: 12px;
    }


  }

  .header {
    display: flex;
    flex-direction: column;

    &__logo {
      margin-bottom: 12px;
    }

    &__contacts {
      margin-top: 12px;
    }

    &__button {
      margin-top: 12px;

    }

    &__official {
      font-size: 14px;
    }

  }

  .button {
    width: 155px;
    height: 45px;

    &_main {
      width: 260px;
    }

    &_submit {
      width: 205px;
      height: 47px;
      font-size: 14px;
    }
  }

  .advants {
    min-height: 600px;
    padding: 35px 0;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &__img {
      margin-bottom: 7px;
    }

    &__descr {
      margin-top: 3px;
    }

    &__item {
      margin-bottom: 18px;

      &_nmb {
        margin-bottom: 0px;
      }

    }
  }

  .consultation {
    min-height: 600px;
    padding: 70px 13px 0px 13px;
    background: url('../img/bg/bg_mobile_2.jpg') center center / cover no-repeat;

    &__descr {
      font-size: 15px;
      text-align: center;
    }
  }

  .title {
    &_left {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }
  }

  .feed-form {
    display: flex;
    align-items: center;
    width: 100%;

    input {
      height: 40px;
    }
  }

  .catalog {
    .title {
      font-size: 27px;
    }

    &__tab {
      width: 30%;
      transform: none;
      line-height: 0px;
      font-size: 16px;
      height: 40px;
      line-height: 14px;
      transform: skewX(-25deg);

      &:hover {
        box-shadow: none;
      }

      &__pd {
        padding-top: 11px;
      }

      &__pd-last {
        padding-top: 10px;
      }

      div {
        transform: skewX(25deg);
        display: block;
        text-align: center;
      }

    }

    &__content {
      position: relative;
      justify-content: center;
      padding-left: 16px;
    }

    &-item {
      width: 245px;

      &__price {
        font-size: 18px;
      }

      &__descr {
        font-size: 11px;
      }

      hr {
        position: absolute;
        top: auto;
        top: 109%;
        right: 28px;
        width: 74%;
      }

      &__footer {
        margin-top: 64px;
      }

      &__footer_mt {
        margin-top: 64px;
      }

      &__back {
        bottom: -16px;
        font-size: 13px;
      }

      &__img {
        height: 170px;
      }


      li {
        font-size: 12px;
      }
    }



    .button {
      &_mini {
        width: 100px;
        height: 40px;
      }
    }
  }

  .carousel {
    &__inner {
      max-width: 100%;

      img {
        max-width: 44%;
      }

    }

    .slick-list {
      overflow: hidden;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    .slick-dots li {
      list-style-type: none;
      margin: 0 5px;
    }

    /* Активна точка */
    .slick-dots li.slick-active button {
      background-color: $main-color;
    }

    /* Елемент точки */
    .slick-dots li button {
      font-size: 0;
      width: 20px;
      height: 5px;
      background-color: #000;
      border: none;
      border-radius: 5px;

    }
  }

  .feed {
    min-height: 600px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
    }

    &__text {
      width: 100%;
      padding-left: 72px;
      padding-right: 0px;
      margin-left: 0;
      ;
    }

    &__descr {
      width: 90%;
    }

    &__subtitle {
      margin-top: 15px;
    }

    &__title {
      font-size: 27px;
    }

    &__img {
      width: 135px;
      height: 135px;
    }
  }

  .footer {
    min-height: 600px;

    &__info {
      width: 100%;
      height: 173px;
      padding: 28px 8px 8px 8px;
    }

    &__addr {
      font-size: 15px;
      line-height: 15px;
    }

    &__phone {
      margin-top: 25px;
      font-size: 17px;
      line-height: 17px;
    }

    &__social-item {
      width: 35px;
      height: 35px;

      img {
        height: 20px;
      }
    }

    &__social {
      margin-top: 27px;
    }
  }

}